.jumbotron{
	background-color: white;
}

.jumbotron {
	color:black;
	font-style: 
}

.row {
	left margin-left: 20px;
}

.col-sm-12 {
	padding-left: 200px;
}

body {
  background-color: black;
}

h2 {
	color : white;
}

h1 {
	color: yellow;
padding-left: 200px;
}